@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
}

/*NAVBAR*/

header{
    z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#000 ;
  height: 8vh;
}
header .logo{
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-right: 50px;
    display: flex;
    font-size: 26px;
}
header .toggle{
  
    visibility: hidden;
    display: none;
  }
  header .toggle span{
      position: absolute;
      width: 50px;
      height: 3px;
      transition: 0.6s;
    }
    header .toggle .one{
    width: 15px;
    background: white;
    }
    header .toggle .three{
        background:  yellow;
        width: 25px;
        }
    header .toggle .four{
      width: 40px;
      background-color: white;
    }
  header .toggle .one{
      top: 0;
  }
  header .toggle .two,header .toggle .three{
      top: 16px;
  }
  header .toggle .four{
      top: 30px;
  }
  header .active .one,header .active .four{
      display: none;
  }
  header .active .two{
      transform:rotate(45deg);
      background: yellow;
  }
  header .active .three{
      width: 50px;
      transform:rotate(-45deg);
      background: white;
  }

.menuoverlay.active{
    transform:scale(1)
}
.menuoverlay ul{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-right: 10px;
}
.menuoverlay ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  display: block;
  font-weight: 500;
  justify-content: space-around;
  padding: 0 20px;
    
}
.underlined {
  color: yellow;
  line-height: 1.8;
  text-decoration: none;
  background-image: linear-gradient(to right yellow 0, yellow 100%);
  background-position: 50% 1.2em;
  background-size: 0 50%;
  background-repeat: no-repeat;
  transition: .5s;
}
.underlined:hover {
  background-size: 100% 100%;
  background-position: -50% 50%;
  transition: .2s;
  color: #000;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
}

/*Responsive navbar*/

@media screen and (max-width:1024px){
    .menu-overlay{
      width: 60%;
    }
    @media (max-width: 768px)
    {
      body{
        overflow-x: hidden;
      }
      header{
        position: fixed;
      }
      .underlined:hover{
        background-size: 0 0;
      }
      header .logo{
            font-size: 1.4em;
        }
      header .toggle{
            display: block;
            padding: 15px;
            position: fixed;
            width: 40px;
            right: 30px;
            cursor: pointer;
            z-index: 1000;
            visibility: visible;
        }
      .menuoverlay ul{
        position: relative;
        list-style: none;
        text-align: center;
        display: block;
      }
      .menuoverlay{
        position: fixed;
        top: 50px;left: 0;right: 0;bottom: 0;
        background: #000;
        opacity: 1;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        transition: 0.6s;
        transform:scale(0);
        width: 100%;
        min-height: 100vh;
    }
      .menuoverlay ul li a{
        position: relative;
        text-decoration: none;
        font-size: 20px;
        padding: 25px 10px;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
    }
      .menuoverlay ul li a:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 30%;
        background: yellow;
        transform: translateY(-10%) scaleY(0);
        transform-origin: right;
        transition:0.5s transform;
        z-index: -1;
    }
      .menuoverlay ul li a:hover:before{
        transform: translateY(-50%) scaleX(1);
        transform-origin: left;
        transition:0.5s transform;
    }
}    